<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amiri&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <title>إنشاء ختمة جماعية</title>
  </head>
  <body class="container">
    <script>
      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "Messenger");
    </script>
    <h2>إنشاء ختمة جماعية</h2>
    <form action="/create-a-room" method="POST">
      <fieldset>
        <label for="ageRangeField">:طريقة تقسيم القرآن</label>
        <select id="methodRangeField" name="method">
          <option disabled selected hidden>اختر طريقة تقسيم القرآن</option>
          <option value="0-13">اثمان</option>
          <option value="14-17">اجزاء</option>
          <option value="18-23">احزاب</option>
        </select>
        <label for="nameField">:تاريخ انتهاء الختمة</label>
        <select id="dateExpirationRangeField" name="period">
          <option disabled selected hidden>مدة الختمة الجماعية</option>
          <option value="0-13">يوم</option>
          <option value="14-17">ثلاث أيام</option>
          <option value="18-23">أسبوع</option>
        </select>
        <label for="commentField">:الشروط</label>
        <textarea
          placeholder="شروط الختمة الجماعية"
          id="commentField"
          name="comment"
        ></textarea>
        <div>
          <p class="error" id="error">error</p>
        </div>
        <div class="formFooter row">
          <button class="button" type="submit">إنشاء</button>
          <button class="button button-outline" onclick="close()">إلغاء</button>
        </div>
        <input type="text" hidden name="psid" id="psid" />
      </fieldset>
    </form>
    <script src="/js/main.js"></script>
  </body>
</html>
