<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amiri&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"
    />
    <link rel="stylesheet" href="/css/divisionPage.css" />
    <script src="/socket.io/socket.io.js"></script>
    <title>صفحة الختمة الجماعية</title>
  </head>
  <body class="container">
    <script>
      (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
          return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "Messenger");
    </script>
    <% if (active) { %>
    <h3>قم بإختيار الورد القرآني</h3>

    <% data.forEach(element => { %>
    <button class="button" id="<%= element.index %>" <%-element.disabled %>
      ><%= element.text%>
    </button>
    <% }) %> <% } else { %>
    <div class="close">
      <h3>لقد تم غلق هاته الختمة القرآنية بعد استيفاء شروطها</h3>
    </div>
    <% } %>

    <script src="/js/divisionPage.js"></script>
  </body>
</html>
