<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amiri&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/redirect.css" />
    <title>Welcome Page</title>
  </head>
  <body class="container">
    <h1>مرحبا بك في موقع الختمات الجماعية</h1>
    <h1>الخدمة متوفرة فقط على تطبيق ماسنجر وفايبر للدردشة</h1>
    <a
      class="button button-small"
      style="background-color: #00b2ff; border-color: #00b2ff"
      href="<%= linkMessenger %>"
      >فتح تطبيق ماسنجر</a
    >
    <a
      class="button button-small"
      style="
        margin-top: 1.5rem;
        background-color: #7360f2;
        border-color: #7360f2;
      "
      href="<%= linkViber %>"
      >فتح تطبيق فايبر</a
    >
  </body>
</html>
