body {
  font-family: "Amiri", "sans-serif";
  background-image: url(https://img.freepik.com/free-vector/mandala-illustration_53876-81805.jpg?w=1380&t=st=1663771384~exp=1663771984~hmac=f285195e9d3ac95b37ee187fd4752e23dc02618090499c307cf0f00807ee2355);
  background-color: #ffffff;
  background-position: right;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: #009000;
}

@media only screen and (min-width: 400px) {
  body {
    background-image: none;
  }
}
