body {
  font-family: "Amiri", "sans-serif";
  background-image: url(https://img.freepik.com/free-vector/mandala-illustration_53876-81805.jpg?w=1380&t=st=1663771384~exp=1663771984~hmac=f285195e9d3ac95b37ee187fd4752e23dc02618090499c307cf0f00807ee2355);
  background-color: #ffffff;
  background-position: right;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: #009000;
}

.button,
input[type="submit"] {
  background-color: #009000;
  border: 0.1rem solid #009000;
  border-radius: 0.4rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.button-small {
  font-size: 0.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

@media only screen and (min-width: 450px) {
  body {
    background-image: none;
  }
}
